*
{
    font-family: monospace;
    letter-spacing: .1rem;

    color: #fefefe;
}
body
{
    background: url(/images/backgroundPag.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* display Geral */
.displayApres
{
    background: rgba(0, 0, 0, 0.473);
    backdrop-filter: blur(20px);
}

/* menu superior */
.navItemsList:hover
{
    background: rgba(255, 255, 255, 0.216);
}

/* display Apresentação */
.displayApres
{

    position: absolute;
    width: 90%;
    height: 80%;
    transform: translate(5%,7.5%);

    border-radius: .5rem;

    display: flex;
    gap: 2.5%;

}

/* container esquerdo(lugar da foto), e direito de apresentação */
.left-displayApres,
.rigth-displayApres
{
    
    background: rgba(0, 0, 0, 0.301);

    width: 47.5%;
    height: 95%;
    transform: translate(1rem, 1rem);

    border-radius: .5rem;

}

/* centralizar img e titulo da aba "Habilidades" */
.imgProfile, .titleHab
{
    margin-left: 55%;
    transform: translateX(-50%);
}

/* como só tinha alguns <h1></h1> decidi ultilizar o seletor de tag mesmo */
h1
{
    color: #fefefe;
}


/* barra de habilidades na aba "Habilidades" */
.progress-barEdit
{
    background: rgba(32, 32, 32, 0.575);
    width: 75%;
}

/* Barrinha atras das bolinhas kkk */
.progressEdit
{

    width: 100%;
    background: #6c757d;

}
/* é a mema barrinha de cima */
#progressApres
{
    transition: .3s;
}

/* As bolinhas ;-; */
.btnCircle
{
    width: 3rem;
    height: 3rem;
}